region                = "us-west-2"
primary_region        = "us-east-1"
environment           = "prod"
project_name          = "kailash-3tier-aws"
vpc_cidr              = "172.21.0.0/16"
azs                   = ["us-west-2a", "us-west-2b"]
admin_cidr            = "YOUR_PUBLIC_IP/32"
key_name              = "YOUR_US_WEST_2_KEYPAIR"
instance_type         = "t3.micro"
bootstrap_demo_app    = true
frontend_min_size     = 1
frontend_desired_size = 1
frontend_max_size     = 4
backend_min_size      = 1
backend_desired_size  = 1
backend_max_size      = 4
autoscaling_target_cpu = 60
backup_retention_days = 7
backend_port          = 80
